---
const pageTitle = "Ethos";

const identity = {
    firstName: "Dirt",
    lastName: "Bag",
    location: "Planet Earth",
    occupation: "GIS Developer and Geospatial Data Engineer",
    hobbies: ["Camping", "Rock Climbing", "Playing sick synthesizers"]
};

const skill = ["PostGIS", "Web Dev", "Minor Pentatonic Scales"];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Home</a>
		<a href="/ethos/">Ethos</a>
		<a href="/blog/">Blog</a>

		<h1>{pageTitle}</h1>
        <ul>
            <li>My name is {identity.firstName} {identity.lastName}</li>
            <li>I live on {identity.location} and I'm an {identity.occupation}</li>
            {identity.hobbies.length >= 3 &&
                <li>What I like to do: {identity.hobbies[0]}, {identity.hobbies[1]}, and {identity.hobbies[2]}</li>
            }
        </ul>

        <p>My skills are:</p>
        <ul>
        {skill.map((skill) => <li>{skill}</li>)}
        </ul>
	</body>
</html>